<div style="margin-top:10px">
    <span>با تشکر، درخواست شما با موفقیت ارسال شد</span>
    <br />
    <span>نظر شما پس از تائید در سایت قرار خواهد گرفت.</span>
    <br />
    <u>
        
    </u>
</div>
